
<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
</head>
<body>

  <form action="/books/<%= book._id %>/edit" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" value="<%= book.name %>" />
    <input type="text" name="isbn"/ value="<%= book.isbn %>">
    <input type="text" name="author"/ value="<%= book.author %>">
    <input type="text" name="description" value="<%= book.description %>">
    <input type="text" name="quantity"/ value="<%= book.quantity %>">
    <input type="text" name="surchargeFee" value="<%= book.surchargeFee %>">
    <input type="text" name="category"/ value="<%= book.category %>">
    <input type="text" name="isAvailable" value="<%= book.isAvailable %>">
    <button type="submit">Submit</button>
  </form>

</body>
</html>