
<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
</head>
<body>
  <ul>
    <% books.forEach(function(book) { %>
        <li><%= book.name %>, <%= book.author %>
            <a href="/books/<%= book._id %>">Show</a> | 
            <a href="/books/<%= book._id %>/edit">Edit</a> |
            <form action="/books/<%= book._id%>/edit" method="post" enctype='application/x-www-form-urlencoded'>
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Delete</button>
            </form>
        </li>
    <% }); %>
  </ul>

  <form action="/books/#{book._id}/edit" method="post" enctype='application/x-www-form-urlencoded'>
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit">Delete</button>
  </form>

  <p>
    <a href="books/#{book._id}/edit">Edit</a>
  </p>

  <p>
    <a href="books/#{book._id}">Show</a>
  </p>
</body>
</html>