
<!DOCTYPE html>
<html>
<head>
  <title>Stuff</title>
</head>
<body>
  <p>Name: <%= book.name %></p>
  <p>Author:<%= book.author %></p>
  <p>ISBN: <%=book.isbn %></p>
  <p>Quantity: <%= book.quantity %></p>
  <form action="/books/<%= book._id%>/borrow" method="post"' enctype ="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="PUT">
      <button type="submit">Borrow a book</button>
  </form>
</body>
</html>